<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

        <header>
          <div class="logo"><a href="http://uimagine.edu.au">u!imagine</a></div>
          <div class="social"><a href="http://facebook.com">F</a> <a href="http://twitter.com">T</a></div>
        </header>

        <nav>
          <ul class="menu">
            <li>Section 1</li>
            <li>Section 2</li>
            <li>Section 3</li>
          </ul>
        </nav>

    <section class="hero" style="background-image: url(thumb.jpg);">
      <h1>Message of Page</h1>
    </section>

    <header>
      <img src="hero" alt="">
    </header>

    <section>
      <h2>Title of te Section</h2>
    <article class="">
        <img src="" alt="">
        <h2>Title</h2>
        <p>Blurb about the thing</p>
        <button class="go-to"></button>
    </article>
    <article class="">
      <img src="" alt="">
      <h2>Title</h2>
      <p>Blurb about the thing</p>
      <button class="go-to"></button>
    </article>
    <article class="">
      <img src="" alt="">
      <h2>Title</h2>
      <p>Blurb about the thing</p>
      <button class="go-to"></button>
    </article>
   </section>

   <section>
     <h2>Title of te Section</h2>
   <article class="">
       <img src="" alt="">
       <h2>Title</h2>
       <p>Blurb about the thing</p>
       <button class="go-to"></button>
   </article>
   <article class="">
     <img src="" alt="">
     <h2>Title</h2>
     <p>Blurb about the thing</p>
     <button class="go-to"></button>
   </article>
   <article class="">
     <img src="" alt="">
     <h2>Title</h2>
     <p>Blurb about the thing</p>
     <button class="go-to"></button>
   </article>
  </section>

  <section>
    <h2>Title of te Section</h2>
  <article class="">
      <img src="" alt="">
      <h2>Title</h2>
      <p>Blurb about the thing</p>
      <button class="go-to"></button>
  </article>
  <article class="">
    <img src="" alt="">
    <h2>Title</h2>
    <p>Blurb about the thing</p>
    <button class="go-to"></button>
  </article>
  <article class="">
    <img src="" alt="">
    <h2>Title</h2>
    <p>Blurb about the thing</p>
    <button class="go-to"></button>
  </article>
 </section>

 <footer>
   <div class="logo"></div>
   <p class="legal"></p>
   <div class="social"></div>
 </footer>

  </body>
</html>
