<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <div class="logo"><a href="http://uimagine.edu.au">u!imagine</a></div>
      <div class="social"><a href="http://facebook.com">F</a> <a href="http://twitter.com">T</a></div>
    </header>

    <nav>
      <ul class="menu">
        <li>Section 1</li>
        <li>Section 2</li>
        <li>Section 3</li>
      </ul>
    </nav>

    <section class="splash" style="background-image: url(thumb.jpg);">
      <img src="" alt="">
      <h1>Message of Page</h1>
      <button class="call-to-action"></button>
    </section>

    <section>

    <article class="">
      {{ page.content }}
      <aside>
        <label>Meta Element</label><h4>Data</h4>
        <label>Meta Element</label><h4>Data</h4>
        <label>Meta Element</label><h4>Data</h4>
        <label>Meta Element</label><h4>Data</h4>
        <div class="map"></div>
        <nav>
          <button class="previous">Previous</button>
          <button class="next">Next</button>
        </nav>
      </aside>
    </article>

   </section>

 <footer>
   <div class="logo"></div>
   <p class="legal">uImagine is an initiative of Charles Sturt University</p>
   <div class="social"><a href="http://facebook.com">F</a> <a href="http://twitter.com">T</a></div>
 </footer>

  </body>
</html>
